body {
   

    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    
    background-color: #c0ebf9;
    
    font-family: 'Poppins', sans-serif; 

    
}

@media (max-width: 640px){
    body {
        padding: 20px;
    }
}

section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

h1 {
    font-size: 24px;
    font-weight: 700;

    color: #467745;

    text-align: center;
}

@media (max-width: 640px){
    h1 {
        font-size: 24px;
        text-align: start;
    }
}

#input {
    width: 600px;
    height: 64px;   

    margin-bottom: 20px;

    border: none;
}

#input::placeholder {
    padding: 20px;

    font-size: 16px;
    font-weight: 400;

    color: #467745;
}

@media (max-width: 640px) {
    #input{
        width: 100%;
    }
}

textarea {
    width: 600px;
    height: 120px;

    border: none;
}

textarea::placeholder{
    padding: 20px;

    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif; 

    color: #467745;

   

}

@media (max-width: 640px){
    textarea {
        width: 100%;
    }
}

div {
    display: flex;
    flex-direction: row;
    align-items: baseline;


    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    

    margin-top: 5px;
    margin-left: 60px;
}

div input {
    border: none;

    width: 20px;
    height: 20px;
}
 
@media (max-width: 640px) {
    div {
        margin-left: 0;
    }
}

button {
    width: 280px;
    height: 80px;

    transform: translateX(60%);

    font-size: 21px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .2em;
    
    color: #c0ebf9;

    background-color: #467745;

    border: none;
}

@media (max-width: 640px){
    button {
        transform: translateX(0);
    }
}
